In [2]:
import pandas as pd

In [3]:
contacts = pd.read_csv('./Contacts.csv')
Payments = pd.read_csv('./Payments.csv')

In [6]:
contacts.info()
Payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SvyID                16000 non-null  int64
 1   OrID                 16000 non-null  int64
 2   WrapDate             16000 non-null  object
 3   WrapTimeStamp        16000 non-null  object
 4   SvyWrapTypeName      16000 non-null  object
 5   WizardWrap           16000 non-null  int64
 6   SvyReasonPrimary     16000 non-null  int64
 7   WrapPrimaryReason    16000 non-null  object
 8   WrapSecondaryReason  16000 non-null  object
 9   Marketplace          16000 non-null  object
 10  nthWrap              16000 non-null  int64
 11  WrapBucket           16000 non-null  object
 12  PaymentMethod        10743 non-null  object
 13  PaymentTotal         15990 non-null  float64
dtypes: float64(1), int64(5), object(8)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrID           16000 non-null  int64
 1   OrderDate      16000 non-null  object
 2   PaymentMethod  9883 non-null   object
 3   OrderTotal     15999 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 500.1+ KB

In [7]:
Contacts_final = contacts.merge(Payments, left_on = 'OrID', right_on = 'OrID')

In [ ]:
Contacts_final.info()

In [18]:
Contacts_final.drop(['PaymentMethod_y'], axis= 'columns', inplace=True)

In [19]:
Contacts_final.head()

,Contact_ID,Order_ID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod,PaymentTotal,OrderDate,OrderTotal
0,65625698,2086247814,1/20/2021,1/20/2021 15:40:48,Service,0,156,Billing/Credits,Status of Credit,DE,3,3.Billing_Credits,NaN,-23.99,1/3/2021 8:55:54,-5.00
1,65625698,2086247814,1/20/2021,1/20/2021 15:40:48,Service,0,156,Billing/Credits,Status of Credit,DE,3,3.Billing_Credits,NaN,-23.99,1/3/2021 8:55:54,-23.99
2,65625698,2086247814,1/20/2021,1/20/2021 15:40:48,Service,0,156,Billing/Credits,Status of Credit,DE,3,3.Billing_Credits,NaN,-23.99,1/3/2021 8:55:54,-5.99
3,65625698,2086247814,1/20/2021,1/20/2021 15:40:48,Service,0,156,Billing/Credits,Status of Credit,DE,3,3.Billing_Credits,NaN,-23.99,1/3/2021 8:55:54,-23.00
4,65625698,2086247814,1/20/2021,1/20/2021 15:40:48,Service,0,156,Billing/Credits,Status of Credit,DE,3,3.Billing_Credits,NaN,-23.99,1/3/2021 8:55:54,57.98

In [30]:
Contacts_final.drop_duplicates(subset="Order_ID",keep=False, inplace=True)
Contacts_final

,Contact_ID,Order_ID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod,PaymentTotal,OrderDate,OrderTotal
38,65211207,2107103824,1/13/2021,1/13/2021 5:15:58,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Klarna Slice It,415.98,1/13/2021 4:30:43,415.98
43,65897284,2110886174,1/26/2021,1/26/2021 5:30:08,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,229.98,1/26/2021 5:16:51,229.98
44,65713201,2116146344,1/22/2021,1/22/2021 7:21:21,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,PayPal,149.99,1/12/2021 8:00:00,149.99
49,65985052,2134347294,1/27/2021,1/27/2021 13:13:48,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,NaN,274.99,1/24/2021 12:59:45,274.99
83,64892103,2160817354,1/7/2021,1/7/2021 7:14:32,Service,0,156,Billing/Credits,Add/Remove Promo Codes,DE,1,3.Billing_Credits,NaN,169.99,1/5/2021 19:10:14,169.99
84,66020263,2172121874,1/28/2021,1/28/2021 6:18:40,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,NaN,67.99,1/11/2021 12:38:00,67.99
95,65963125,2207924884,1/27/2021,1/27/2021 8:18:55,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,NaN,53.99,1/19/2021 12:04:17,53.99
96,64689576,2213885884,1/4/2021,1/4/2021 7:25:05,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Vorkasse,77.99,1/4/2021 7:11:27,77.99
104,66143630,2235060414,1/30/2021,1/30/2021 11:34:49,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,43.98,1/26/2021 12:31:32,43.98
105,65900170,2246680514,1/26/2021,1/26/2021 7:51:45,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,NaN,85.95,1/22/2021 6:40:57,85.95
627,65341246,2278664144,1/15/2021,1/15/2021 7:59:11,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,PayPal,33.94,1/11/2021 4:12:04,33.94
639,65242443,2281635254,1/13/2021,1/13/2021 13:58:04,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Vorkasse,719.99,1/6/2021 18:16:04,719.99
649,65464928,2287729564,1/18/2021,1/18/2021 9:10:29,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,65.99,1/7/2021 15:31:58,65.99
681,65782192,2312434334,1/23/2021,1/23/2021 12:04:08,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,NaN,47.98,1/17/2021 9:44:29,47.98
2211,65603793,2335805644,1/20/2021,1/20/2021 11:01:55,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,NaN,73.99,1/17/2021 8:14:41,73.99
2220,65337434,2543534708,1/15/2021,1/15/2021 4:16:20,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Vorkasse,150.00,1/12/2021 7:25:21,150.00
2270,65649189,2554080808,1/21/2021,1/21/2021 3:38:47,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,NaN,629.99,1/14/2021 9:04:44,629.99
2275,65588534,2571764128,1/20/2021,1/20/2021 4:58:42,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,NaN,369.99,1/5/2021 8:56:55,369.99
2285,65209455,2578167158,1/13/2021,1/13/2021 2:46:07,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Klarna Slice It,309.99,1/12/2021 11:15:57,309.99
2294,65861401,2589970738,1/25/2021,1/25/2021 13:55:56,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,51.96,1/25/2021 10:28:49,51.96
2335,65085464,2609156688,1/11/2021,1/11/2021 10:18:15,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,169.99,1/6/2021 3:57:37,169.99
2358,65610333,2616222028,1/20/2021,1/20/2021 12:28:44,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,PayPal,61.99,1/5/2021 17:53:59,61.99
2359,65834803,2616299338,1/25/2021,1/25/2021 9:06:49,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,NaN,309.99,1/16/2021 9:17:45,309.99
2373,66079034,2625457858,1/29/2021,1/29/2021 6:11:19,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,136.99,1/20/2021 6:33:41,136.99
2374,65459261,2628205158,1/18/2021,1/18/2021 3:59:41,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,PayPal,89.74,1/10/2021 18:24:53,89.74
4024,64762569,2671014878,1/5/2021,1/5/2021 2:58:25,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Vorkasse,199.98,1/3/2021 7:32:29,199.98
4033,65116906,2684662088,1/11/2021,1/11/2021 15:34:29,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,PayPal,28.94,1/4/2021 13:39:19,28.94
4046,65070543,2694997658,1/11/2021,1/11/2021 3:14:41,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Klarna Slice It,539.99,1/4/2021 19:29:58,539.99
4047,64765464,2697647308,1/5/2021,1/5/2021 6:54:26,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,PayPal,1076.98,1/1/2021 14:06:52,1076.98
4050,65827288,2700691308,1/25/2021,1/25/2021 3:49:50,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,402.96,1/8/2021 14:09:34,402.96
4219,66095605,2709609478,1/29/2021,1/29/2021 11:41:20,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,NaN,182.93,1/6/2021 4:05:03,182.93
4336,66080919,2723228498,1/29/2021,1/29/2021 7:59:24,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,Klarna Slice It,619.99,1/15/2021 14:34:40,619.99

In [31]:
Contacts_final.sort_values("PaymentMethod", inplace = True)

In [32]:
Contacts_final

,Contact_ID,Order_ID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod,PaymentTotal,OrderDate,OrderTotal
38,65211207,2107103824,1/13/2021,1/13/2021 5:15:58,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Klarna Slice It,415.98,1/13/2021 4:30:43,415.98
2285,65209455,2578167158,1/13/2021,1/13/2021 2:46:07,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Klarna Slice It,309.99,1/12/2021 11:15:57,309.99
4046,65070543,2694997658,1/11/2021,1/11/2021 3:14:41,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Klarna Slice It,539.99,1/4/2021 19:29:58,539.99
4336,66080919,2723228498,1/29/2021,1/29/2021 7:59:24,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,Klarna Slice It,619.99,1/15/2021 14:34:40,619.99
44,65713201,2116146344,1/22/2021,1/22/2021 7:21:21,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,PayPal,149.99,1/12/2021 8:00:00,149.99
627,65341246,2278664144,1/15/2021,1/15/2021 7:59:11,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,PayPal,33.94,1/11/2021 4:12:04,33.94
2358,65610333,2616222028,1/20/2021,1/20/2021 12:28:44,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,PayPal,61.99,1/5/2021 17:53:59,61.99
2374,65459261,2628205158,1/18/2021,1/18/2021 3:59:41,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,PayPal,89.74,1/10/2021 18:24:53,89.74
4033,65116906,2684662088,1/11/2021,1/11/2021 15:34:29,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,PayPal,28.94,1/4/2021 13:39:19,28.94
4047,64765464,2697647308,1/5/2021,1/5/2021 6:54:26,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,PayPal,1076.98,1/1/2021 14:06:52,1076.98
96,64689576,2213885884,1/4/2021,1/4/2021 7:25:05,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Vorkasse,77.99,1/4/2021 7:11:27,77.99
639,65242443,2281635254,1/13/2021,1/13/2021 13:58:04,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Vorkasse,719.99,1/6/2021 18:16:04,719.99
2220,65337434,2543534708,1/15/2021,1/15/2021 4:16:20,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Vorkasse,150.00,1/12/2021 7:25:21,150.00
2335,65085464,2609156688,1/11/2021,1/11/2021 10:18:15,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,169.99,1/6/2021 3:57:37,169.99
4024,64762569,2671014878,1/5/2021,1/5/2021 2:58:25,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,Vorkasse,199.98,1/3/2021 7:32:29,199.98
43,65897284,2110886174,1/26/2021,1/26/2021 5:30:08,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,229.98,1/26/2021 5:16:51,229.98
49,65985052,2134347294,1/27/2021,1/27/2021 13:13:48,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,NaN,274.99,1/24/2021 12:59:45,274.99
83,64892103,2160817354,1/7/2021,1/7/2021 7:14:32,Service,0,156,Billing/Credits,Add/Remove Promo Codes,DE,1,3.Billing_Credits,NaN,169.99,1/5/2021 19:10:14,169.99
84,66020263,2172121874,1/28/2021,1/28/2021 6:18:40,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,NaN,67.99,1/11/2021 12:38:00,67.99
95,65963125,2207924884,1/27/2021,1/27/2021 8:18:55,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,NaN,53.99,1/19/2021 12:04:17,53.99
104,66143630,2235060414,1/30/2021,1/30/2021 11:34:49,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,43.98,1/26/2021 12:31:32,43.98
105,65900170,2246680514,1/26/2021,1/26/2021 7:51:45,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,NaN,85.95,1/22/2021 6:40:57,85.95
649,65464928,2287729564,1/18/2021,1/18/2021 9:10:29,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,65.99,1/7/2021 15:31:58,65.99
681,65782192,2312434334,1/23/2021,1/23/2021 12:04:08,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,NaN,47.98,1/17/2021 9:44:29,47.98
2211,65603793,2335805644,1/20/2021,1/20/2021 11:01:55,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,NaN,73.99,1/17/2021 8:14:41,73.99
2270,65649189,2554080808,1/21/2021,1/21/2021 3:38:47,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,NaN,629.99,1/14/2021 9:04:44,629.99
2275,65588534,2571764128,1/20/2021,1/20/2021 4:58:42,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,NaN,369.99,1/5/2021 8:56:55,369.99
2294,65861401,2589970738,1/25/2021,1/25/2021 13:55:56,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,51.96,1/25/2021 10:28:49,51.96
2359,65834803,2616299338,1/25/2021,1/25/2021 9:06:49,Service,0,156,Billing/Credits,Price Match request,DE,1,3.Billing_Credits,NaN,309.99,1/16/2021 9:17:45,309.99
2373,66079034,2625457858,1/29/2021,1/29/2021 6:11:19,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,136.99,1/20/2021 6:33:41,136.99
4050,65827288,2700691308,1/25/2021,1/25/2021 3:49:50,Service,0,156,Billing/Credits,Status of Credit,DE,1,3.Billing_Credits,NaN,402.96,1/8/2021 14:09:34,402.96
4219,66095605,2709609478,1/29/2021,1/29/2021 11:41:20,Service,0,156,Billing/Credits,Look up/Investigate Charge,DE,1,3.Billing_Credits,NaN,182.93,1/6/2021 4:05:03,182.93