In [1]:
import pandas as pd

In [9]:
contacts = pd.read_csv('./Contacts.csv')
Payments = pd.read_csv('./Payments.csv')

In [10]:
print(contacts.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SvyID                16000 non-null  int64
 1   OrID                 16000 non-null  int64
 2   WrapDate             16000 non-null  object
 3   WrapTimeStamp        16000 non-null  object
 4   SvyWrapTypeName      16000 non-null  object
 5   WizardWrap           16000 non-null  int64
 6   SvyReasonPrimary     16000 non-null  int64
 7   WrapPrimaryReason    16000 non-null  object
 8   WrapSecondaryReason  16000 non-null  object
 9   Marketplace          16000 non-null  object
 10  nthWrap              16000 non-null  int64
 11  WrapBucket           16000 non-null  object
 12  PaymentMethod        14232 non-null  object
 13  PaymentTotal         15992 non-null  float64
dtypes: float64(1), int64(5), object(8)
memory usage: 1.7+ MB
None

In [11]:
print(contacts.info())
print(Payments.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SvyID                16000 non-null  int64
 1   OrID                 16000 non-null  int64
 2   WrapDate             16000 non-null  object
 3   WrapTimeStamp        16000 non-null  object
 4   SvyWrapTypeName      16000 non-null  object
 5   WizardWrap           16000 non-null  int64
 6   SvyReasonPrimary     16000 non-null  int64
 7   WrapPrimaryReason    16000 non-null  object
 8   WrapSecondaryReason  16000 non-null  object
 9   Marketplace          16000 non-null  object
 10  nthWrap              16000 non-null  int64
 11  WrapBucket           16000 non-null  object
 12  PaymentMethod        14232 non-null  object
 13  PaymentTotal         15992 non-null  float64
dtypes: float64(1), int64(5), object(8)
memory usage: 1.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderCount     16000 non-null  int64
 1   OrderDate      16000 non-null  object
 2   PaymentMethod  9859 non-null   object
 3   OrderTotal     15988 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 500.1+ KB
None

In [12]:
contacts = pd.read_csv('./Contacts.csv')
Payments = pd.read_csv('./Payments.csv')

In [13]:
print(contacts.info())
print(Payments.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SvyID                16000 non-null  int64
 1   OrID                 16000 non-null  int64
 2   WrapDate             16000 non-null  object
 3   WrapTimeStamp        16000 non-null  object
 4   SvyWrapTypeName      16000 non-null  object
 5   WizardWrap           16000 non-null  int64
 6   SvyReasonPrimary     16000 non-null  int64
 7   WrapPrimaryReason    16000 non-null  object
 8   WrapSecondaryReason  16000 non-null  object
 9   Marketplace          16000 non-null  object
 10  nthWrap              16000 non-null  int64
 11  WrapBucket           16000 non-null  object
 12  PaymentMethod        14232 non-null  object
 13  PaymentTotal         15992 non-null  float64
dtypes: float64(1), int64(5), object(8)
memory usage: 1.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrID           16000 non-null  int64
 1   OrderDate      16000 non-null  object
 2   PaymentMethod  9886 non-null   object
 3   OrderTotal     15992 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 500.1+ KB
None

In [15]:
Contacts_final = contacts.merge(Payments, left_on = 'OrID', right_on = 'OrID')

In [16]:
print(contacts.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SvyID                16000 non-null  int64
 1   OrID                 16000 non-null  int64
 2   WrapDate             16000 non-null  object
 3   WrapTimeStamp        16000 non-null  object
 4   SvyWrapTypeName      16000 non-null  object
 5   WizardWrap           16000 non-null  int64
 6   SvyReasonPrimary     16000 non-null  int64
 7   WrapPrimaryReason    16000 non-null  object
 8   WrapSecondaryReason  16000 non-null  object
 9   Marketplace          16000 non-null  object
 10  nthWrap              16000 non-null  int64
 11  WrapBucket           16000 non-null  object
 12  PaymentMethod        14232 non-null  object
 13  PaymentTotal         15992 non-null  float64
dtypes: float64(1), int64(5), object(8)
memory usage: 1.7+ MB
None

In [17]:
Contacts_final.head()

,SvyID,OrID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod_x,PaymentTotal,OrderDate,PaymentMethod_y,OrderTotal
0,65048403,3445324328,1/10/2021,1/10/2021 8:39:19,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,55.99,1/6/2021 16:05:54,Vorkasse,55.99

In [21]:
Contacts_final.drop(['PaymentMethod_y'], axis= 'columns')

,SvyID,OrID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod_x,PaymentTotal,OrderDate,OrderTotal
0,65048403,3445324328,1/10/2021,1/10/2021 8:39:19,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,55.99,1/6/2021 16:05:54,55.99

In [22]:
Contacts_final.rename(columns={'SvyID':'Contact_ID','OrID': 'Order_ID','PaymentMethod_x':'PaymentMethod'}, inplace=True)

In [23]:
Contacts_final.head()

,Contact_ID,Order_ID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod,PaymentTotal,OrderDate,PaymentMethod_y,OrderTotal
0,65048403,3445324328,1/10/2021,1/10/2021 8:39:19,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,55.99,1/6/2021 16:05:54,Vorkasse,55.99

In [24]:
Contacts_final.drop(['PaymentMethod_y'], axis= 'columns')

,Contact_ID,Order_ID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod,PaymentTotal,OrderDate,OrderTotal
0,65048403,3445324328,1/10/2021,1/10/2021 8:39:19,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,55.99,1/6/2021 16:05:54,55.99

In [25]:
print(Contacts_final.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Contact_ID           1 non-null      int64
 1   Order_ID             1 non-null      int64
 2   WrapDate             1 non-null      object
 3   WrapTimeStamp        1 non-null      object
 4   SvyWrapTypeName      1 non-null      object
 5   WizardWrap           1 non-null      int64
 6   SvyReasonPrimary     1 non-null      int64
 7   WrapPrimaryReason    1 non-null      object
 8   WrapSecondaryReason  1 non-null      object
 9   Marketplace          1 non-null      object
 10  nthWrap              1 non-null      int64
 11  WrapBucket           1 non-null      object
 12  PaymentMethod        1 non-null      object
 13  PaymentTotal         1 non-null      float64
 14  OrderDate            1 non-null      object
 15  PaymentMethod_y      1 non-null      object
 16  OrderTotal           1 non-null      float64
dtypes: float64(2), int64(5), object(10)
memory usage: 144.0+ bytes
None

In [26]:
Contacts_final.drop(['PaymentMethod_y'], axis= 'columns')
print(Contacts_final.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Contact_ID           1 non-null      int64
 1   Order_ID             1 non-null      int64
 2   WrapDate             1 non-null      object
 3   WrapTimeStamp        1 non-null      object
 4   SvyWrapTypeName      1 non-null      object
 5   WizardWrap           1 non-null      int64
 6   SvyReasonPrimary     1 non-null      int64
 7   WrapPrimaryReason    1 non-null      object
 8   WrapSecondaryReason  1 non-null      object
 9   Marketplace          1 non-null      object
 10  nthWrap              1 non-null      int64
 11  WrapBucket           1 non-null      object
 12  PaymentMethod        1 non-null      object
 13  PaymentTotal         1 non-null      float64
 14  OrderDate            1 non-null      object
 15  PaymentMethod_y      1 non-null      object
 16  OrderTotal           1 non-null      float64
dtypes: float64(2), int64(5), object(10)
memory usage: 144.0+ bytes
None

In [27]:
Contacts_final.drop(['PaymentMethod_y'], axis= 'columns')

,Contact_ID,Order_ID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod,PaymentTotal,OrderDate,OrderTotal
0,65048403,3445324328,1/10/2021,1/10/2021 8:39:19,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,55.99,1/6/2021 16:05:54,55.99

In [28]:
Contacts_final.head()

,Contact_ID,Order_ID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod,PaymentTotal,OrderDate,PaymentMethod_y,OrderTotal
0,65048403,3445324328,1/10/2021,1/10/2021 8:39:19,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,55.99,1/6/2021 16:05:54,Vorkasse,55.99

In [29]:
Contacts_final.drop(['PaymentMethod_y'], axis= 'columns', inplace=True)

In [30]:
Contacts_final.head()

,Contact_ID,Order_ID,WrapDate,WrapTimeStamp,SvyWrapTypeName,WizardWrap,SvyReasonPrimary,WrapPrimaryReason,WrapSecondaryReason,Marketplace,nthWrap,WrapBucket,PaymentMethod,PaymentTotal,OrderDate,OrderTotal
0,65048403,3445324328,1/10/2021,1/10/2021 8:39:19,Service,0,156,Billing/Credits,Settle Outstanding Balance,DE,1,3.Billing_Credits,Vorkasse,55.99,1/6/2021 16:05:54,55.99

In [31]:
Contacts_final.to_csv('Contacts_New.csv')

In [32]:
Contacts_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Contact_ID           1 non-null      int64
 1   Order_ID             1 non-null      int64
 2   WrapDate             1 non-null      object
 3   WrapTimeStamp        1 non-null      object
 4   SvyWrapTypeName      1 non-null      object
 5   WizardWrap           1 non-null      int64
 6   SvyReasonPrimary     1 non-null      int64
 7   WrapPrimaryReason    1 non-null      object
 8   WrapSecondaryReason  1 non-null      object
 9   Marketplace          1 non-null      object
 10  nthWrap              1 non-null      int64
 11  WrapBucket           1 non-null      object
 12  PaymentMethod        1 non-null      object
 13  PaymentTotal         1 non-null      float64
 14  OrderDate            1 non-null      object
 15  OrderTotal           1 non-null      float64
dtypes: float64(2), int64(5), object(9)
memory usage: 136.0+ bytes